body {
    background: #F0F2F5;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.facebook-login-area {
    margin-top: 10%;
}

.fb-left-area h2 {
    color: #1877F2;
    font-size: 55px;
    font-weight: bold;
}

.fb-left-area h5 {
    font-size: 28px;
    font-weight: normal;
    width: 500px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 32px;
}

.login-form form {
    text-align: center;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
}

.login-form input {
	border-radius: 7px;
	padding: 25px 16px;
    border: 1px solid #dddfe2;
}


.login-form input[placeholder] {
    font-size: 17px;
    font-weight: normal;
    color: #C3C6CA;
    opacity: .5;

}

.login-form .btn-primary {
    display: block;
    width: 100%;
    border-radius: 7px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: bold;
}

.login-form .btn-warning {
    background: #36A420;
    border: 1px solid #36A420;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 7px;
    text-transform: capitalize;
}

.login-form a {
	font-size: 15px;
	text-align: center;
	margin-top: 15px;
	display: inline-block;
}

.login-form p {
	margin-left: 40px;
    display: inline-block;
    font-size: 15px;
}

.login-form p a{
    color: #222;
    font-weight: bold;
    font-size: 15px;
}

.modal h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

.modal .modal-title p{
    color: #606770;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    
}

.modal .dob{
    color: #606770;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    
}

.modal p> input{
     float: right;
    
}
.modal-content{
	width:80% !important;
}

.modal p.footer{
     color: #777;
    font-size: 11px;
    
}
.modal p.footer>a{
     color: #385898;
    text-decoration: none;
    
}
.modal .btn-success {
	padding: 4px 60px;
	background: #42B72A;
	border: 1px solid #42B72A;
	font-weight: bold;
	font-size: 19px;
}

.modal input.form-control{
    background: #F5F6F7;
}